<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orchtech.baking_app">


    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/bg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.orchtech.baking_app.ui.activities.BakingCardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name="com.orchtech.baking_app.widget.SimpleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_info" />



<!--
            <receiver android:name=".WidgetProvider" >
                <intent-filter>

                    &lt;!&ndash; This widget provider receives broadcast with following action
        name or simply onUpdate of AppWidgetProvider is called &ndash;&gt;
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                </intent-filter>
                &lt;!&ndash; linking up xml file of appwidget-provider to AppWidgetProvider &ndash;&gt;
                <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widgetinfo" />
            </receiver>-->
        </receiver>

        <service android:name=".widget.ListViewRemoveViewsService"

            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="com.orchtech.baking_app.ui.activities.ReceipeCardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.orchtech.baking_app.ui.activities.RecipeDetailActivity"
            android:parentActivityName="com.orchtech.baking_app.ui.activities.ReceipeCardActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.orchtech.baking_app.ui.activities.ReceipeCardActivity" />
        </activity>

    </application>

</manifest>